/**************************/
/* SECTION ABOUT */
/**************************/

.section-about {
  background-color: rgba(255, 255, 255, 0.934);
  color: #000;
}

.about-text-box {
  text-align: center;
  padding: 0 18rem;
}

.about-header {
  font-size: 3rem;
  text-decoration: underline;
}

.about-description {
  font-size: 1.2rem;
  padding: 1rem;
}
