/**************************/
/* SECTION ABOUT */
/**************************/

.section-about {
  background-color: #fdfdf8;
  color: #000;
}

.about-content {
  text-align: center;
  padding: 2rem 4rem;
}

.about-header {
  font-size: 3rem;
  text-decoration: underline;
}

.about-description {
  font-size: 1.2rem;
  padding: 2rem;
}

.about-collage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content.grid--2-cols {
}

/* .about-box {
  display: flex;
  padding: 4rem 8rem;
}

.about-box-description {
  background-color: rgb(21, 21, 21);
  color: #fff;
  height: 30rem;
} */
