/**************************/
/* SECTION ABOUT */
/**************************/

.section-about {
  background-color: rgba(255, 255, 255, 0.934);
  display: flex;
}

.about-text-box {
  text-align: center;
  color: #000;
  padding: 4rem 18rem;
}

.about-header {
}
