/**************************/
/* GALLERY SLIDE SECTION */
/**************************/

.galslide-container {
  height: 42rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 4;
}

.galslide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8rem 4rem;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
  max-height: 42rem;
  min-height: 42rem;
  z-index: 2;
  position: absolute;
}

.galslide-content h1 {
  font-size: 4.4rem;
  line-height: 1;
}

.galslide-content h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  line-height: 1;
}

.galslide-content p {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1;
}

/**************************/
/* GALLERY MAIN SECTION */
/**************************/

.gallery-projects {
}

.galprojects {
  gap: 2rem;
}

.gallery-imgbox {
  position: relative;
  color: #fff;
}

.gallery-imgbox img {
  width: 100%;
  height: 100%;
}

.gallery-imgbox p {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-imgbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.281);
}

.gallery-imgbox:hover::before {
  background-color: transparent;
  transition: background-color 0.5s ease;
  /* cursor: pointer; */
}
