/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: oswald, sans-serif;
  font-weight: 600;
  background-color: rgba(21, 21, 21, 0.918);
  height: 8rem;
  padding: 0 12.8rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  margin-top: 0.8rem;
  height: 4.8rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c92a2a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 2rem;
  border-radius: 99999px;
  color: #fff;
  background-color: #e63434be;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c92a2ace;
}

/**************************/
/* SLIDER SECTION */
/**************************/

#slider {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

#slider input[type="radio"] {
  display: none;
}

#slider label {
  text-decoration: none;
  cursor: pointer;
}

#slides {
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}

#slides .inner {
  width: 500%;
  height: 40rem;
  line-height: 0;
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#slides .slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  float: left;
  color: #fff;
  width: 20%;
  height: 100%;
}

#slides .slide_1 {
  background: url("../img/exotics/img1.jpg");
}

#slides .slide_2 {
  background: url("../img/exotics/img2.jpg");
}

#slides .slide_3 {
  background: url("../img/exotics/img3.jpg");
}

#slides .slide_4 {
  background: url("../img/exotics/img4.jpg");
}

#slides .slide_5 {
  background: url("../img/exotics/img5.jpg");
}

#slides::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem 2rem;
  gap: 2rem;
  width: 100%;
  max-width: 50rem;
  max-height: 40rem;
  min-height: 40rem;
  z-index: 2;
}

.slide-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  line-height: 0.9;
}

.slide-content p {
  padding: 0 4rem;
  font-size: 1.6rem;
  line-height: 1;
}

.navigation {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translatex(-50%);
  z-index: 6;
}

.hero-btn-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 18rem;
  height: 20rem;
}

.hero-btn {
  display: inline-block;
  padding: 2rem;
  border: 2px solid #c92a2ad2;
  margin-top: auto;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  transition: all 0.15s ease-in-out;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #c92a2a9c;
}

#controls {
  display: none;
  position: relative;
  width: 100%;
  height: 50px;
  margin: -180px 0 0 0;
}

#controls label {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
  display: block;
  float: right;
  margin: 0 -50px 0 0;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(5),
#slide5:checked ~ #controls label:nth-last-child(1) {
  display: block;
  float: left;
  margin: 0 0 0 -50px;
}

#bullets {
  text-align: center;
}

#bullets label {
  display: inline-block;
  margin: 0 12px;
  width: 3rem;
  height: 0.2rem;
  background: #ffffff97;
  z-index: 6;
}

#bullets label:hover {
  background: #ffffff6a;
}

#bullets .active {
  background: #c92a2a;
}

#bullets .active:hover {
  background: #c92a2a;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }

  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}

/**************************/
/* SERVICE SECTION */
/**************************/

.heading-tertiary {
  font-size: 4rem;
  font-weight: 700;
  font-family: oswald, sans-serif;
  color: #fff;
  line-height: 1;
  padding: 1rem;
  padding-right: 12rem;
  border-left: 3px solid #c92a2a;
  letter-spacing: 2px;
}

.step-description {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-top: 2rem;
  padding-right: 6rem;
}

.step-img-box {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.step-img {
  width: 100%;
  display: block;
}

.step-img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  z-index: 1;
}

/**************************/
/*  BOOK SECTION */
/**************************/

.section-book {
  color: #000;
  background-color: rgba(255, 255, 255, 0.934);
}

.booking-description {
  border-left: 3px solid #c92a2a;
  padding: 1rem;
}

.booking-description h3 {
  color: #c92a2a;
  font-size: 1.4rem;
}

.booking-description h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.booking-description p {
  font-size: 1.2rem;
  width: 30%;
}

/**************************/
/* STEPS SECTION */
/**************************/

.section-steps {
  display: grid;
  text-align: center;
  gap: 0.25em;
  padding: 2rem;
}

.steps-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #c92a2a;
  color: #fff;
  margin: auto;
}

.steps-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.steps-number,
.steps-btn {
  color: #fff;
  background-color: #c92a2a;
}

.steps-description {
  font-size: 1rem;
  color: #555;
}

.steps-btn:link,
.steps-btn:visited {
  display: flex;
  justify-content: center;
  background-color: #c92a2a;
  color: #fff;
  margin: auto;
  padding: 0.8rem 4rem;
  border-radius: 99999px;
  margin-top: 0.8em;
  text-decoration: none;
}

.steps-btn:hover,
.steps-btn:active {
  background-color: #c02626;
}

/**************************/
/* START SECTION */
/**************************/

.section-start {
  padding: 6.4rem 14rem;
}

.start-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  padding: 2.4rem;
}

.start-title {
  margin-top: 5px;
}

.start-content {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  flex-direction: column;
  line-height: 1;
  border-left: 3px solid #c92a2a;
  padding-left: 1rem;
}

.start-description {
  color: #c92a2a;
  margin-bottom: 5px;
}

.start-btn:link,
.start-btn:visited {
  color: #fff;
  background-color: #c92a2a;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}

.start-btn:hover,
.start-btn:active {
  background-color: #c02626;
}

/**************************/
/* REVIEW SECTION */
/**************************/

#review-slider {
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#review-slides {
  position: relative;
  z-index: 1;
}

#review-slides .innerrev {
  width: 500%;
  height: 20rem;
  line-height: 1;
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#review-slides .slider {
  display: flex !important;
  justify-content: center;
  align-items: center;
  float: left;
  color: #fff;
  width: 20%;
  height: 100%;
}

.innerrev {
  max-height: 20rem;
}

.review-slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.review-heading-content {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.review-heading-tertiary {
  font-size: 3rem;
  text-decoration: underline;
}

.review-arrow-left,
.review-arrow-right {
  font-size: 4rem;
  margin-left: 4rem;
  cursor: pointer;
  transition: transform 0.6s ease;
  /* color: rgb(58, 57, 57); */
}

.review-arrow-left:hover,
.review-arrow-right:hover {
  transform: scale(1.2);
}

.review-arrow-left {
  margin-left: auto;
}

.review-arrow-right.active {
  color: rgb(58, 57, 57);
  transform: scale(1);
  cursor: alias;
}

/*  Review slider Content */
.rev {
  min-height: 100%;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4rem;
}

.review-tertiary {
  font-size: 2rem;
}

.review-description {
  font-size: 1.2rem;
  line-height: 1.2;
}

.review-customer {
  display: flex;
}

.review-avatar {
  width: 6rem;
  height: 6rem;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.review-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/**************************/
/* CONTACT SECTION */
/**************************/

.section-contact {
}

.contact-content {
  border-left: 3px solid #c92a2a;
  padding: 1rem;
}

.contact-content h3 {
  color: #c92a2a;
  font-size: 1.4rem;
}

.contact-title {
  font-size: 2.4rem;
}

.contact-description {
}

.contact-info {
  display: flex;
}

.contact-phone,
.contact-email {
  display: flex;
  padding-right: 2rem;
  padding-top: 1rem;
}

/**************************/
/* FAQ SECTION */
/**************************/

.section-faq {
  color: #000;
  background-color: rgb(238, 237, 237);
  text-align: center;
}

.faq-content {
  text-align: right;
  border-right: 3px solid #c92a2a;
  padding: 1rem;
}

.faq-title {
  font-size: 2.4rem;
}

.faq-content h3 {
  color: #c02626;
  font-size: 1.4rem;
}

.faq-content p {
  font-size: 1.2rem;
}

/* .faq-answer {
  padding: 1.2rem;
  text-align: left;
  font-size: 1.2rem;
  display: none;
}

.faq-answer.active {
  display: flex;
} */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.2rem;
  text-align: left;
  font-size: 1.2rem;
  transition: max-height 0.4s ease;
}

.faq-answer.active {
  max-height: 1000px; /* Adjust this value to be greater than the expected height of your FAQ answer */
  display: flex;
}

.faq-container {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 4rem 16rem;
  padding: 1rem;
  border-radius: 2rem;
}

.faq-questions {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.6rem;
  cursor: pointer;
}

.faq-questions:hover {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.faq-line:not(:last-child) {
  position: relative;
  box-sizing: border-box;
  padding: 1rem 0;
}

.faq-line:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

/**************************/
/* FEATURED SECTION */
/**************************/

.section-featured {
  position: relative;
}

.featured-container {
  background-color: rgb(238, 237, 237);
  padding: 8rem 0;
}

.featured-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.featured-img {
  position: relative;
}

.featured-img img {
  display: block;
  width: 100%;
  height: auto;
}

.featured-text-box {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4;
}

.featured-text-box p:first-child {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  padding-top: 4rem;
}

.featured-text-box p:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 4rem;
}

.featured-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 4rem 0;
  list-style: none;
}

.featured-list-container img {
  display: block;
  height: 3rem;
  margin: 1rem;
  opacity: 50%;
}

.featured-text-box span {
  color: #c92a2a;
}

/**************************/
/* SUBSCRIBE SECTION */
/**************************/
.section-subscribe {
  color: #000;
  background-color: rgb(238, 237, 237);
}

.subscribe-container {
  text-align: center;
  padding: 4rem 12rem 10rem 12rem;
}

.subscribe-content {
  padding: 0 30rem;
}

.subscribe-content p:first-child {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

.subscribe-content p:nth-child(2) {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.half-width {
  font-size: 1.2rem;
  color: #555;
  width: 48%;
  height: 50px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.full-width {
  font-size: 1.2rem;
  color: #555;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.terms-checkbox {
  display: flex;
  text-align: left;
  color: #555;
  margin-bottom: 1rem;
}

.terms-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.subscribe-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  height: 50px;
  cursor: pointer;
}

.subscribe-btn-container:hover {
  color: #000;
  background-color: #fff;
}

.subscribe-btn-container a {
  display: block;
  text-align: center;
  padding: 20px;
}

/**************************/
/* FOOTER SECTION*/
/**************************/

.footer {
  padding: 12.8rem 0;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  color: #555;
  font-size: 1.2rem;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-size: 1.4rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.8rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.2rem;
  color: #555;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}
