.news-gallery {
  background-color: rgb(238, 237, 237);
  color: #000;
}

.news-gallery h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 5px;
}

.news-container {
  padding: 8rem;
  gap: 2rem;
}

.news-imgbox {
  position: relative;
}

.news-imgbox img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.news-imgbox h4 {
}

.news-imgbox p {
  color: #666;
}
