.projectslide-container {
  position: absolute;
  width: 60%;
  height: 36rem;
  right: 50%;
  background-color: rgb(21, 21, 21);

  transform: skewX(25deg);
}

.projectslide-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectslide-header h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  padding-left: 12rem;
  transform: skew(-25deg);
  width: 80%;
}

.projectslide-img {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 36rem;
}

.projectslide-img img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

/**************************/
/* project-body left */
/**************************/

.project-body {
  background-color: rgb(238, 237, 237);
  color: #000;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.body-left {
  width: 75%;
  padding-right: 4rem;
}

.left-heading {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 4rem 0;
}

.body-left span {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
}

.left-skew {
  background-color: #c92a2a;
  transform: skewX(-25deg) translateX(10%);
  width: 90%;
}

.body-left h3 {
  font-size: 1.6rem;
}

.body-left p {
  font-size: 1.2rem;
  padding: 2rem 0;
}

.body-img {
  width: 100%;
}

/**************************/
/* project-body right */
/**************************/

.body-right {
  width: 28%;
}

.body-right h1 {
  font-size: 2rem;
  padding: 1rem;
}

.body-right p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.right-img {
  width: 100%;
}

.right-img img {
  width: 100%;
}
