.news-gallery {
  background-color: rgb(238, 237, 237);
  color: #000;
}

.news-header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 5px;
  padding: 6rem;
}

.news-container {
  padding: 4rem 6rem;
  gap: 2rem;
}

.news-imgbox {
  position: relative;
}

.news-imgbox img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.news-content {
  padding: 2rem 0;
}

.news-content h4 {
}

.news-content p {
  color: #666;
}
