.quote-content {
  padding: 0 12rem;
}

.quote-header {
  text-align: center;
  padding-bottom: 2rem;
}

.quote-header h2 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.quote-header p {
  font-size: 1.4rem;
}

.quote-options {
  /* display: flex; */
}

.quote-info {
  display: flex;
  justify-content: space-between;
}

.section-steps {
  width: 100%;
}

.section-steps label {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
}

.section-steps select,
input {
  height: 2.8rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
}

.section-steps option {
  color: #000;
}

input:focus,
select:focus {
  border: 2px solid #c92a2a; /* Change the border color */
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 5px #c92a2a;
}

.quote-info2 {
  padding: 2rem;
}

.checkbox-container {
}

.quote-checkbox {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

input[type="checkbox"] {
  height: auto;
}
